body {
    font-family: "Nunito", sans-serif;
    display: flex;
    background-image: url(image/fondec.png);
    background-size: cover;
}

.facebook img {
    width: 80px;
    height: auto;
    margin-left: 23px;
    margin-top: 85px;
}

.top {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    border: 1px solid black;
    height: 50px;
}

.left-side {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    border-radius: 16px;
    border: 2px solid black;
    padding: 20px; /* Ajoute un peu d'espace à l'intérieur de la boîte */
    text-align: center; /* Centre le texte horizontalement */
    display: flex; /* Utilise Flexbox pour centrer verticalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    justify-content: center; /* Centre horizontalement le contenu */
}

.grosse-box {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: 3px solid rgb(63, 54, 35);
    position: absolute;
    top: 28%;
    left: 54%;
    width: 45%;
    height: 600px;
}

.texte-top {
    position: absolute;
    left: 310px;
    top: 0;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.texte-dessous-top {
    margin-top: 40px;
    position: flex;
    margin-bottom: 25px;
    font-size: 25px;
    color: white;
}

.logo {
    margin-top: 80px;
    font-size: 25px;
    position: flex;
    color: white;
}

.texte-en-bas {
    margin-top: 30px;
    color: white;
    position: flex;
    font-size: 25px;
}

.tik-tok img {
    width: 80px;
    height: auto;
    margin-left: 300px;
    margin-top: -80px;
    position: absolute;
}

.instagram img {
    width: 80px;
    height: auto;
    margin-left: 600px;
    margin-top: -80px;
    position: absolute;
}