
body {
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(image/Grande_image.png);
    background-repeat: no-repeat;
    background-size: cover;
}